In [113]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import os
from cleaning_utils import *
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [114]:
cwd = os.getcwd()
df = pd.read_csv(os.path.join(cwd, "MetObjects.txt"))

andrew_col_list = [i for i in range(2, df.shape[1], 3)]
andrew_col_list.insert(0, 0)
andrew_df = df.iloc[:, andrew_col_list]
andrew_df = andrew_df.astype(str, errors="ignore")

C:\Users\AMGra\AppData\Local\Temp\ipykernel_9860\500654137.py:2: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(cwd, "MetObjects.txt"))

In [115]:
artist_col_list = list(range(16, 28)) # making list of column index from Q->AB
artist_col_list.insert(0, 0) # Adding the first column as index
artist_df = df.iloc[: , artist_col_list] #subsets originas dataframe 'df'
artist_df = split_rows(artist_df)
artist_df.head()

Object Number 635650
Artist Role 635650
Artist Prefix 635650
Artist Display Name 635650
Artist Display Bio 635650
Artist Suffix 635650
Artist Alpha Sort 635650
Artist Nationality 635650
Artist Begin Date 635650
Artist End Date 635650
Artist Gender 635650
Artist ULAN URL 635650
Artist Wikidata URL 635650

,Object Number,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Suffix,Artist Alpha Sort,Artist Nationality,Artist Begin Date,Artist End Date,Artist Gender,Artist ULAN URL,Artist Wikidata URL
0,1979.486.1,Maker,,James Barton Longacre,"American, Delaware County, Pennsylvania 1794–1...",,"Longacre, James Barton",American,1794,1869,nan,http://vocab.getty.edu/page/ulan/500011409,https://www.wikidata.org/wiki/Q3806459
1,1980.264.5,Maker,,Christian Gobrecht,1785–1844,,"Gobrecht, Christian",,1785,1844,nan,http://vocab.getty.edu/page/ulan/500077295,https://www.wikidata.org/wiki/Q5109648
2,67.265.9,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,67.265.10,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,67.265.11,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [116]:
andrew_artist_cols = [i for i in range(2, artist_df.shape[1], 3)]
andrew_artist_df = artist_df.iloc[:, andrew_artist_cols]

Andrew Cleaning

In [117]:
andrew_df.head(2)
andrew_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Object Number      477804 non-null  object
 1   Is Timeline Work   477804 non-null  object
 2   Gallery Number     477804 non-null  object
 3   Object Name        477804 non-null  object
 4   Period             477804 non-null  object
 5   Portfolio          477804 non-null  object
 6   Artist Prefix      477804 non-null  object
 7   Artist Suffix      477804 non-null  object
 8   Artist Begin Date  477804 non-null  object
 9   Artist ULAN URL    477804 non-null  object
 10  Object Begin Date  477804 non-null  object
 11  Dimensions         477804 non-null  object
 12  City               477804 non-null  object
 13  Country            477804 non-null  object
 14  Locale             477804 non-null  object
 15  River              477804 non-null  object
 16  Link Resource      477804 non-null  object
 17  Repository         477804 non-null  object
 18  Tags Wikidata URL  477804 non-null  object
dtypes: object(19)
memory usage: 69.3+ MB

In [118]:
andrew_df['Is Timeline Work'] = andrew_df['Is Timeline Work'].astype(bool)

In [119]:
#Period
andrew_df["Period"] = andrew_df["Period"].replace(to_replace = '\(\?\)|\?', value = '', regex = True)
andrew_df["Period"] = andrew_df["Period"].replace(to_replace = '\(.*', value = '', regex = True)
andrew_df["Period"] = andrew_df["Period"].replace(to_replace = 'late|early|probably', value = '', regex = True)
andrew_df["Period"] = andrew_df["Period"].replace(to_replace = '\sor.*', value = '', regex = True)
andrew_df["Period"] = andrew_df["Period"].replace(to_replace = ',.*', value = '', regex = True)
andrew_df["Period"] = andrew_df["Period"].str.strip()
andrew_df[~andrew_df["Period"].str.contains("\(\?\)", regex=True)]["Period"].unique()

array(['nan', 'Edo period', 'Qing dynasty', 'Ming dynasty', 'Ming',
       'Yuan', 'Southern Song dynasty', 'Song dynasty', 'Yuan dynasty',
       'Goryeo dynasty', 'Southern Song', 'Dali kingdom', 'Meiji period',
       'Northern Song', 'Heian period', 'Muromachi', 'Kamakura period',
       'Shōwa period', 'Nanbokuchō period', 'Republic period',
       'Tang dynasty', 'Neolithic', 'Western Han dynasty', 'Liao dynasty',
       'Eastern Zhou dynasty', 'Neolithic period', 'Joseon dynasty',
       'Western Zhou dynasty', 'Unified Silla', 'Chola period',
       'Pala period', 'Early period', 'Bronze and Iron Age period',
       'Middle period', 'Central Javanese period',
       'Eastern Javanese period', 'Central', 'Singasari period',
       'Late period', 'Angkor period', 'Sukhothai period',
       'Thakuri-Malla periods', 'Polonnaruva period', 'post Gupta period',
       'Thakuri period', 'Late Neolithic period', 'Chiangsaen period',
       'Ratanakosin period', 'Gupta period', 'Eastern Janvanese period',
       'Kushan', 'Majapahit period', 'Bronze and Iron Age',
       'Viet-Han period', 'Early Rajput -Chaurapanchasika style',
       'Early Rajput-Chaurapanchasika style', 'Sultanate period',
       'Karnata-Malla period', 'Early Malla period',
       'Thakuri– Malla periods', 'Mughal', 'Ayudhya period',
       'Shunga period', 'Mauryan period', 'Mauryan', 'Kushan period',
       'Sena dynasty', 'Pandyan period', 'Pandya dynasty',
       'Eastern Ganga dynasty', 'Western Chalukyan period',
       'Kakatiya period', 'Chandela period', 'pre-Angkor period',
       'Mon-Dvaravati period', 'Post-Gupta period', 'Hepthalite',
       'Ikshvaku period', 'Ikshvaku', 'Shahi period', 'Sailendra dynasty',
       'Indus civilization', 'Licchavi period', 'Pagan period',
       'Malla period', 'Licchavi–Thakuri periods',
       'Thakuri–Early Malla periods', 'Thakuri periods', 'Hoysala period',
       'Nayaka period', 'Solanki period', 'Pala-Sena period',
       'Divided Kingdoms period', 'Khmer', 'Anuradhapura period',
       'Kushan dynasty', 'Chalcolithic– Historic period', 'Gupta',
       'Modern', 'Ayutthaya period', 'Shunga–Kushan period',
       'Pallava period', 'Arakan period', 'Sailendra style',
       'Javanese period', 'Pala dynasty', 'Srivijaya period',
       'Harrapan period', 'Chalukyan period', 'post–Gupta period',
       'Early Polonnaruva period', 'Khmer-Shrivijaya style', 'Pallava',
       'Vijayanagar period', 'Thakuri dynasty', 'Muromachi period',
       'Three Kingdoms period', 'Silla Kingdom', 'Three Kingdoms',
       'Kaya Federation', 'Unified Silla dynasty',
       'South and North Kingdoms period', 'Southern Tang dynasty',
       'Five Dynasties', 'Late Yuan', 'Northern Qi dynasty', 'Edo',
       'Taishō period', 'Han dynasty', 'Middle Jōmon period',
       'Momoyama period', 'Northern Song dynasty', 'Tang',
       'Eastern Han dynasty', 'possibly Eastern Han dynasty', 'Song',
       'Jin dynasty', 'Northern Wei dynasty', 'Jin', 'Khotan Kingdom',
       'Bronze Age period', 'Bronze Age', 'mid- to  Ming dynasty',
       'Probably modern', 'Khotan kingdom', 'Momoyama', 'Sui dynasty',
       'Eastern Wei dynasty', 'Northern Dynasties', 'Box: Edo period',
       'Nomad', 'Ming Dynasty', 'Kangxi', 'Late Ming', 'Shang dynasty',
       'Eastern Jin dynasty', 'Western Jin dynasty', 'Six Dynasties',
       'Western Han', 'Northern Qi', 'Jin dynasty 1115–1234)',
       'Late Momoyama', 'Sui', 'Northern Wei period',
       'possibly Northern Song dynasty', 'Neolithic to Shang dynasty',
       'Neolithic period--Shang dynasty', 'Shang', 'Zhou dynasty',
       'pre-Han dynasty', 'Unknown', 'Late Qing dynasty',
       'After the style of the Zhou dynasty', 'Pre-Columbian period',
       'Prehistoric', 'before Ming dynasty', 'Warring States period',
       'Eastern Han', 'Southern Dynasties',
       'Neolithic period to Ming dynasty', 'Warring States',
       'Kofun period', 'Warring States– Western Han dynasty',
       'Qing dyasty', 'Kizil kingdom', 'Northern Wei',
       'Late Jōmon period', 'Final Jōmon period', 'Yayoi period',
       'Middle Jomon period', 'Nara period', 'possibly Song dynasty',
       'Eastern Zhou', 'Meiji', 'Nanbokuchō', 'Visnukundin',
       'Late Jomon period', 'Kamakura', 'Heian', 'style of Tang dynasty',
       'Late Edo', 'Yongzheng period', 'MIng dynasty',
       'Style of Song dynasty', 'Song Dynasty', 'Late Yayoi period',
       'Early Nara period', 'Neolithic period–Shang dynasty', 'Han',
       'Xiongnu culture', 'Uyghur kingdom', 'Kizil Kingdom',
       'Eastern Javanese', 'Proto–classical period',
       'Protoclassic period', 'Pyu period', 'Proto–classical',
       'Tribal period', 'Late Jōmon', 'Kofun', 'Hongxian mark and period',
       'Eastern Jin', 'China', 'Qing', 'Early Ming dynasty',
       '20th century', 'Qin–Han dynasty', 'Zhou',
       'mid-Western Zhou dynasty', 'middle Edo period',
       'Six Dynasties period', 'Northern', 'Xixia dynasty', 'pre-Ming',
       'Jomon period', 'Asuka period', 'Five Dynasties period',
       'Middle period–Late period', 'Early period–Late period',
       'Bronze and lron Age period', 'Middle period– Late period',
       'Middle–Late period', 'Early– Late period', 'middle Yayoi period',
       'Batak', 'Wuyue kingdom', 'Western Wei dynasty', 'Mughal period',
       'Timurid period', 'Middle Chunqiu Era', 'Meiji Period',
       'Modern period', 'Late Unified Silla dynasty', 'Western Zhou',
       'Edo perid', 'Thracian period', 'Scythian',
       'Period of Tibetan Empire', 'Early Qing dynasty',
       'Indus Civilization', 'Qin dynasty', 'mid-Zhou dynasty',
       'style of Zhou dynasty', 'Early Zhou dynasty',
       'Northern and Southern Dynasties', 'Western Wei',
       'style of the  Tang dynasty', 'style of the Tang dynasty', 'Liang',
       'Style of Northern Wei dynasty', 'Style of Northern Qi dynasty',
       'Warring States– Western Han', 'Liao',
       'Modern forgery in the style of the Six Dynasties',
       'style of Six Dynasties', 'Sixteen Kingdoms period',
       'Meiji  period', 'Final Jomon period', 'Tibetan period',
       'Heisei period', 'Rajput', 'Rajput: Jaipur', 'Rajput: Kota',
       'Khmer style of the Bayon', 'Nara', 'period of Tibetan rule',
       'Taishō', 'r Chalukyan period',
       'In the style of Northern Wei dynasty',
       'period of Chinese Han occupation',
       'Gupta style of the 6th century',
       'attributed to Unified Silla dynasty', 'Contemporary',
       'Khmer Empire', 'Ly dynasty', 'Eastern Zhou–Western Han dynasty',
       'Satavahana-Ikshvaku', 'Neolithic–Erlitou period', 'Kusana',
       'Kandyan period', 'Ly', 'Patola Shahi period',
       'Shang dynasty–Western Zhou dynasty', 'Edo period \n1845.',
       'Edo period \nKihei.', 'Qing Dynasty', 'Ching Dynasty',
       'Edo Period', 'Severan', 'Classical', 'Hellenistic',
       'Mid Imperial', 'Archaic', 'Late Roman', 'Early', 'Early Imperial',
       'Late Imperial', 'Mid', 'Early to Mid Imperial',
       'Mid to Late Imperial', 'Imperial', 'Early Byzantine',
       'Early imperial', 'Late Hellenistic', 'Late Bronze Age',
       'Cypro-Archaic I', 'Late Corinthian', 'Cypro-Archaic II',
       'Cypro-Classical I', 'Late Cypriot', 'Cypro-Geometric III',
       'Cypro-Classical II', 'Early Hellenistic',
       'Cypro-Archaic II–Cypro-Classical I', 'Cypro-Classical',
       'Late Cypriot III', 'Iron Age', 'Protocorinthian',
       'Cypro-Geometric I', 'Cypro-Archaic I–II', 'Cypro-Archaic',
       'Geometric', 'Late Cypriot IIIB',
       'Cypro-Geometric III–Cypro-Archaic I', 'Hellenic',
       'Late Cypriot II', 'Cypro-Archaic–Cypro-Classical',
       'Cypro-Geometric II', 'Middle Cypriot', 'Late Helladic IIIA',
       'Late Helladic IIIB', 'Late Helladic III', 'Late Helladic IIIA2',
       'Late Helladic IIIA1-2', 'Late Cypriot IIIB2',
       'Middle Cypriot III', 'Early Cypriot III-Middle Cypriot I',
       'Early Bronze Age', 'Late Cypriot IB', 'Middle Cypriot II',
       'Middle Cypriot II–III', 'Early Cypriot III–Middle Cypriot I',
       'Early Cypriot III–Middle Cypriot II', 'Middle Cypriot I-II',
       'Middle Cypriot I–II', 'Early Cypriot I',
       'Possibly Late Cypriot I–II', 'Late Helladic IIIA:1',
       'Late Cypriot I', 'Late Cypriot I-IIIA', 'Late Cypriot I-II',
       'Middle Bronze Age', 'Early–Middle Bronze Age', 'Early Cypriot',
       'Late Cypriot IIIA', 'Early Cypriot III', 'Early Cypriot IIIA',
       'Early–Middle Cypriot', 'Middle Cypriot I',
       'Early Cypriot III-Middle Bronze Age', 'Late Cypriot I–II',
       'Late Cypriot IIIB–Cypro-Geometric I', 'Early Iron Age',
       'Transitional', 'Middle Corinthian', 'Early Cypro-Archaic II',
       'Late Cypro-Classical II–Early Hellenistic',
       'Late Cypro-Archaic II', 'Cypro-Classical II–Early Hellenistic',
       'Late Hellenistic–Early Roman', 'Roman',
       'Middle Cypriot III–Late Cypriot I', 'Late Archaic',
       'Cypro-Geometric II–III',
       'Late Cypro-Classical I–Early Cypro-Classical I',
       'Late Classical–Early Hellenistic',
       'Late Cypro-Classical I–Cypro-Classical II', 'Late Classical',
       'Late Archaic–Early Classical', 'Late Classical–Hellenstic',
       'Late Classical–Hellenistic', 'Mid-Imperial', 'Early Geometric',
       'Early Roman', 'Archiac', 'Archaic–Classical',
       'Late Cypro-Archaic–Early Cypro-Classical',
       'Late Archaic–Classical', 'Late Republic',
       'Late Cypro-Geometric I–Early Cypro-Geometric II',
       'Geometric-Classical', 'Archaic-Classical',
       'Possibly Late Cypriot II', 'Possibly Archaic',
       'Archaic- Classical', 'Hellenistic-Imperial', 'Classical-Roman',
       'Late Republican–Early Imperial', 'Mid–Late Imperial',
       'Early Archaic', '26th–30th Dynasty', 'Late Dynastic',
       'Late Dynastic–Hellenistic', 'New Kingdom',
       'Third Intermediate Period', 'Early Third Intermediate Period',
       'Late Third Intermediate Period',
       'Third Intermediate Period–Late Dynastic', '25th Dynasty',
       'Third Intermediate–Late Dynastic', 'Mid-18th Dynasty',
       'Late Cypro-Archaic I', 'Late Bronze', 'Late Cypriot II–III',
       'Late Bronze Age III', 'Geometric–Archaic',
       'Late Classical-Hellenistic', 'Late  Classical–Hellenistic',
       'Dynasty 18', 'Probably Late Cypriot IIIA', 'Late Iron Age',
       'Late Dynastic-Hellenistic', 'Late Helladic IIIA2 -IIIB',
       'Late Helladic IIIA1-IIIA2', 'Orientalizing', 'Early Corinthian',
       'Late Corinthian I', 'Late Republican', 'Mid  to Late Imperial',
       'Eraly Imperial', 'Medieval', 'Roman Period', 'Hadrianic',
       'Migration', 'Early Medieval', 'Late Geometric-Archaic',
       'Probably Classical', 'Late Orientalizing',
       'Orientalizing/ Archaic', 'Orientalizing- Archaic', 'Arcahic',
       'Late Classical-Early Hellenstic', 'Villanovan', 'Late Geometric',
       'Geomtric-Archaic', 'Mid to  Bronze Age', 'Mid to Late Bronze Age',
       'Late Antique', 'Republic', 'Villanovian/Orientalizing',
       'Geometric-Archaic', 'Villanovian', 'Late Villanovian',
       'Early Orientalizing', 'Augustan',
       'Early Minoan II-Late Minoan III',
       'Early Minoan III-Late Minoan I', 'Early Minoan II-III',
       'Late Minoan I', 'Early Minoan II-Late Minoan I',
       'Early Minoan II', 'Early Minoan IIB', 'Middle Minoan IIIA-B',
       'Middle Minoan III', 'Middle Minoan II', 'Late Minoan III',
       'Late Minoan IIIB', 'Early Minoan III',
       'Middle Minoan III-Late Minoan I',
       'Early Minoan III-Middle Minoan IA', 'Late Minoan IIIA',
       'Late Helladic I', 'Late Minoan II–IIIA', 'Antonine', 'Trajanic',
       'Middle Minoan IA', 'Middle Minoan I', 'Middle Minoan IIIA',
       'Middle Minoan IB', 'Middle Minoan II–III', 'Middle Minoan IIIB',
       'Late Cycladic I', 'Late Neolithic', 'Middle Minoan IIB-IIIA',
       'Late Minoan II', 'Late Minoan IB', 'Proto-Attic',
       'Hellenistic period', 'Late Archaic-Early Classical', 'Flavian',
       'Late Trajanic', 'Late Minoan IA', 'Late Minoan IIIA2',
       'Late Minoan I–II', 'Laste Imperial', 'Middle',
       'Late Archaic-Classical', 'Geometruc-Archaic', 'Punic',
       'Middle -Late Corinthian', 'Helladic', 'Early Helladic III',
       'Early Helladic', 'Late Classical– Early Hellenistic',
       'Early Protocorinthian', 'Late Minoan IB–II',
       'Late Geometric–Early Protocorinthian', 'Middle Minoan I–II',
       'Middle Minoan IIB', 'Middle Helladic I',
       'Early–Middle Corinthian', 'Early Minoan III–Middle Minoan IA',
       'Early Minoan III-Middle Minoan I', 'Middle Minoan II-III',
       'Middle Minoan III–Late Minoan I', 'Early Minoan II–III',
       'Middle Minoan I-II', 'Early Minoan III-Middle Minoan II',
       'Middle Minoan III–Late Minoan IA', 'Late Minoan I-II',
       'Late Minoan IIIA-B', 'Middle Minoan II–IIIA',
       'Late Helladic IIIC', 'Late Minoan II–III',
       'Ealy Minoan III-Middle Bronze Age',
       'Middle Minoan I-Late Minoan I', 'Early MInoan II–III',
       'Late Minoan', 'Early Minoan II–Middle Minoan I',
       'Early Minoan II-Middle Minoan I', 'Early Helladic II', 'Italic',
       'Late Helladic IIIA-B', 'Late Helladic IIIB1',
       'Mid-Imperial period', 'Late imperial', 'Middle Neolithic',
       'Middle Helladic', 'Archaic-Early Classical', 'Early Cycladic II',
       'Early Cycladic I', 'Probably Middle Bronze Age',
       'Early Classical', 'Early Cycladic I–II', 'Republican',
       'Late Early Cycladic I–Early Cycladic II', 'Early Antonine',
       'Chalcolithic', 'Late Minoan IB–IIA', 'Attic', 'Ptolemaic',
       'Final Neolithic', 'Latter part of the Early Bronze Age',
       'Archaic - Classical', 'Middle Helladic III', 'Late Hadrianic',
       'Early Cycladic III–Middle Cycladic I', 'Sub-geometric',
       'Early Bronze III–Middle Bronze I', 'Late Severan',
       'Archaic/Classical', 'Archaic/ Early Classical', 'Neo-Assyrian',
       'Iron Age I-II', 'Late Cypriot III-Cypro-Geometric III', 'Mitanni',
       'Kassite', 'Old Syrian', 'Neo-Assyrian / Neo-Babylonian',
       'Akkadian', 'Early-Middle Gawra', 'Late Uruk–Jemdet Nasr',
       'Gawra XIII-XI', 'Late Cypriot IIB-III',
       'Late Bronze Age - Early Iron Age', 'Iron Age II', 'Sasanian',
       'Neo-Babylonian', 'Achaemenid', 'Parthian', 'Graeco-Roman',
       'Seleucid', 'Old Babylonian', 'Ur III', 'Neo-Sumerian',
       'Neo-Hittite', 'Hittite Middle Kingdom–Hittite Empire', 'Halaf',
       'Middle Bronze Age–Old Assyrian Trading Colony', 'Jemdet Nasr',
       'Late Ubaid–Middle Gawra', 'Hittite Empire', 'Old Elamite',
       'Late Uruk', 'Late Ubaid-Mid Gawra', 'Ubaid–Late Uruk–Jemdet Nasr',
       'Chalcolithic–Early Bronze Age', 'Sasanian– Islamic',
       'Middle Assyrian', 'Xiongnu', 'Dynasty 12', 'Dynasty 15-17',
       'Samarra', 'Middle Minoan–Late Minoan', 'Post-Akkadian',
       'Iron Age III', 'Nabataean', 'Isin-Larsa– Old Babylonian',
       'Parthian–Sasanian', 'Early Dynastic II', 'Iron Age II-III',
       'Early Dynastic IIIa', 'Islamic', 'Middle–Late Bronze Age',
       'Middle Bronze Age II', 'Iron Age I', 'Parthian– Sasanian',
       'Seleucid– Parthian', 'Byzantine', 'Sung Dynasty',
       'Chalcolithic-Early Bronze Age', 'Early Dynastic I',
       'Early Dynastic I-II', 'Isin-Larsa', 'Early Dynastic',
       'Late Ubaid-Middle Gawra', 'Transitional Chalcolithic',
       'Early Dynastic III', 'Middle Elamite', 'Late Period',
       'Neo-Elamite', 'Late Middle', 'Middle to  Neo-Elamite',
       'Proto-Elamite', 'Old Babylonian– Kassite', 'Mature Harappan',
       'Gandhara', 'Neo-Babylonian–Achaemenid', 'Ubaid',
       'Isin-Larsa–Old Babylonian', 'Iron Age III-Parthian',
       'Middle Uruk', 'Natufian', 'Early Dynastic IIIb',
       'Early Bronze Age III', 'MIddle Bronze Age', 'Early Harappan',
       'Early Dynastic II-IIIa', 'Early Dynastic II-III',
       'Ur III–Isin-Larsa', 'Ubaid-Early Gawra', 'Iron Age I/II',
       'Early Bronze Age II', 'Old Assyrian Trading Colony– Old Hittite',
       'Early Bronze Age I', 'Uruk', 'Middle–Late Uruk',
       'Ubaid–Early Uruk', 'Ubaid-Uruk', 'Late Chalcolithic',
       'Middle Chalcolithic', 'Early–Middle Chalcolithic',
       'Early Bronze Age II-III', 'Late Bronze Age - Iron Age I',
       'Hittite Old Kingdom', 'Achaemenid-Seleucid',
       'Jemdet Nasr–Early Dynastic I', 'Early Bronze Age IA',
       'Ghassulian', 'Iron Age III-II', 'Achaemenid– Seleucid',
       'Middle Kingdom', 'Kushano-Sasanian', 'Neolithic–Chalcolithic',
       'Ubaid-Middle Gawra', 'Akkadian–Ur III', 'Second Dynasty of Isin',
       'Ninevite V', 'Halaf–Ubaid', 'Old Kingdom',
       'First Intermediate Period', 'Dynasty 17-18',
       'Middle Bronze Age–Iron Age',
       'First Intermediate Period– Middle Kingdom', 'Graeco-Bactrian',
       'Akkadian-Ur III', 'North Syrian', 'Old Anatolian',
       'Late Middle Kingdom', 'Late Period–Ptolemaic Period',
       'Late Middle Kingdom–Second Intermediate Period',
       'Third Intermediate Period–Late Period', 'Early Ptolemaic Period',
       'Ptolemaic Period', 'New Kingdom–Third Intermediate Period',
       'Saite Period–Late Period',
       'Second Intermediate Period– Dynasty 18',
       'Third Intermediate Period–Ptolemaic Period',
       'Second Intermediate Period',
       'Middle Kingdom–Second Intermediate Period',
       'Early Dynastic Period', 'Late New Kingdom',
       'Late New Kingdom– Third Intermediate Period',
       'Probably very end of the Old Kingdom', 'Mid-Saite Period',
       'Late New Kingdom–Early Third Intermediate Period', 'Meroitic',
       'Persian Period', 'Early Middle Kingdom', 'Saite Period',
       'Gnathian', 'Cypro-Geometric', '1.0', 'Native American',
       'Pre-Columbian', 'Late Postclassic', 'Probably  postclassic',
       'Late Intermediate', 'Ancient Rome', 'ancient', 'classic Maya',
       'Postclassic Period', 'Late Post classic',
       'Pre-Columbian: Gallinazo phase',
       'Pre-Columbian: Lambayeque Valley', 'Pre-Columbian: Moche phase',
       'Classic Period', 'Late Post Classic period', 'Post Classic',
       'Pre-Columbian Inca-Chimu Phase', 'Tokugawa',
       'Early Tokugawa period', 'Late Moche', 'Yotoco period',
       'Qing dyansty', 'Period VI', 'Late postclassic', 'Moche phase',
       'Old Kingdom–First Intermediate Period', 'Predynastic',
       'Middle Kingdom–Early New Kingdom', "'Late Period",
       'Second Intermediate Period–Early New Kingdom',
       'Late Middle Kingdom -  Second Intermediate Period',
       'Middle Kingdom– New Kingdom', 'Late Second Intermediate Period',
       'Middle Kingdom– Second Intermediate Period',
       'Late Old Kingdom–First Intermediate Period',
       'Late Second Intermediate Period–Early New Kingdom',
       'Original: Old Kingdom',
       'First Intermediate Period–Middle Kingdom', 'Modern;',
       'Twentieth Century;', 'Original: New Kingdom', 'Early New Kingdom',
       'Ramesside Period', 'Middle Kingdom–New Kingdom',
       'Second Intermediate Period– New Kingdom',
       'Late Middle Kingdom–Early New Kingdom',
       'Ptolemaic Period–Roman Period', 'Naqada III–Dynasty 1',
       'Third Intermeidate–Late Period',
       'New Kingdom – Third Intermediate Period',
       'New Kingdom–Ptolemaic Period',
       'Late New Kingdom to  Third Intermediate Period',
       'Second Intermediate Period–New Kingdom',
       'Early Dynastic Period–New Kingdom',
       'Ptolemaic–Early Roman Period', 'Neolithic Period',
       'Predynastic Period', 'Second Intermdiate Period',
       'Neolithic–Predynastic Period', 'Late Period-Ptolemaic Period',
       'Late Old Kingdom', 'Third Intermediate Period–Saite Period',
       'First Persian Period', 'Late Period and Modern',
       'Kushite Period–Late Period', 'Late Period– Ptolemaic Period',
       'Ptolemaic‒Roman Period', 'Ptolemaic Period to Roman Period',
       'Macedonian', 'Third Intermediate Period–Kushite Period',
       'Middle Kingdom–Third Intermediate Period',

In [120]:
#Portfolio
andrew_df["Portfolio"] = andrew_df["Portfolio"].replace(to_replace = '\\r\\n', value = '', regex = True)
andrew_df = andrew_df.replace(r'^\s*$', np.nan, regex=True)

#andrew_df[~andrew_df["Portfolio"].str.contains("\(\?\)", regex=True)]["Portfolio"].unique()

In [121]:
#Object Begin Date
andrew_df['Object Begin Date']= pd.to_numeric(andrew_df['Object Begin Date'].copy())
andrew_df['Object Begin Date'].mask(andrew_df['Object Begin Date'] == 5000, -5000, inplace = True)

In [122]:
#Dimensions
andrew_df["Dimensions"] = andrew_df["Dimensions"].replace(to_replace = '\\r|\\n|\\t', value = '', regex = True)

In [123]:
#City
andrew_df["City"] = andrew_df["City"].replace(to_replace = '\(\?\)|\?', value = '', regex = True)
andrew_df["City"] = andrew_df["City"].replace(to_replace = '\(.*', value = '', regex = True)
andrew_df["City"] = andrew_df["City"].replace(to_replace = 'maybe|probably|possibly', value = '', regex = True)
andrew_df["City"] = andrew_df["City"].replace(to_replace = '\sor\s.*', value = '|', regex = True)
andrew_df["City"] = andrew_df["City"].replace(to_replace = '\sor.*', value = '|', regex = True)
# andrew_df["Period"] = andrew_df["Period"].replace(to_replace = ',.*', value = '', regex = True)
andrew_df["City"] = andrew_df["City"].str.strip()
andrew_df[andrew_df["City"].str.contains("\|", regex=True)]["City"].unique()
#andrew_df.groupby('City').nunique()

array(['Boston|Philadelphia', 'Boston|Charlestown', 'New York|Paris',
       'Hartford|New York', 'Barnstable|Bristol', 'Dordrecht|Amsterdam',
       'Mantua|New Geneva', 'East Cambridge|Sandwich',
       'Cincinnati|Trenton', 'Dedham|Medfield', 'Philadelphia|Middletown',
       'Newport|Middletown', 'Branford|Saybrook',
       'Philadelphia|Baltimore', 'New Lebanon|Watervliet', 'Kingston|',
       'Watervliet|New Lebanon', 'Boston|Salem', 'Guilford|Saybrook',
       'Boston|Newburyport', 'Philadelphia|Greensburg',
       'Chambersburg|Waynesboro', 'Cambridge|Boston',
       'Exeter|South Kingstown', 'New York|Albany',
       'Baltimore|Philadelphia', 'New York|Limoges', 'Atlanta|Limoges',
       'Fayetteville|Middletown', 'Wakefield|Gardner',
       'New York|White Mills', 'Coventry|Keene', 'Louisville|Zanesville',
       'Millville|Millville', 'Tarentum|Pittsburgh', 'Norfolk|Portsmouth',
       'Lanesborough|Springfield', 'Meriden|New York',
       'Manheim|Elizabeth', 'Philadelphia|New York', 'Kingston|Albany',
       'Boston|Worcester', 'Sandwich|East Cambridge',
       'High Falls|High Falls', 'Boston|Newport',
       'Jersey City|Pittsburgh', 'Stoke-on-Trent|Stoke-on-Trent',
       'Newport|Philadelphia', 'Stepney|Philadelphia',
       'Newport|Providence', 'Albany|Kingston', 'Hartford|Baltimore',
       'Charlestown|Boston', 'Alexandria|Washington DC',
       'Philadelphia|Stepney', 'Boston|Cranston|Providence',
       'Kingston|New York', 'Middletown|Wethersfeild',
       'Boston|East Cambridge', 'Goffstown|Bedford',
       'New York|Yalesville', 'Elizabeth|Manheim', 'Mantua|Zanesville',
       'Philadelphia|Pittsburgh', 'Albany|New York', 'Wheeling|Sandwich',
       'Salem|Boston', 'Watervliet|Albany', 'Kuba|',
       'Philadelphia|Pawtucket', 'Portland|Pittsburgh',
       'Cincinnati|Limoges', 'New York|Ahmedabad',
       'New York|New Rochelle', 'Cos Cob|Rye', 'New York|Philadelphia',
       'Oshkosh|Toledo', 'New York|North Attleboro',
       'East Hampton|Westhampton', 'Bronx|Metuchen', 'Boston|Brighton',
       'Columbus|Marblehead', 'the Bronx|Brooklyn',
       'Metuchen|New York|the Bronx', 'the Bronx|Metuchen',
       'Metuchen|New York|Menlo Park', 'Menlo Park|New York|Metuchen',
       'Cincinnati|New York', 'Brooklyn|the Bronx',
       'Cincinnati|Providence', 'Bergenfield|Evanston|Park Ridge',
       'Metuchen|the Bronx', 'Seki|Kyoto|Tokyo', 'Naples|Solingen',
       'Landshut|Augsburg', 'Greenwich|New York', 'Augsburg|',
       'Innsbruck|', 'Greenwich|', 'London|', 'Dresden|', 'Milan|',
       'Matanzas|Havana', 'Charleston|Charleston', 'Dresden|Toledo',
       'Dallas|Tokyo', 'Springfield|New York', 'New Haven|New York',
       'Brescia|Milan', 'Cieszyn| Český Těšin', 'Landshut|',
       'Milan|Brescia', 'Nuremberg|Innsbruck', 'Brescia|Augsburg',
       'Milan|Eugui', 'Boston|', 'Paris|London', 'London|Birmingham',
       'Antwerp|Hall', 'St. Augustine|Havana', 'Concord|Boston',
       'St. Augustine|St. Augustine', 'Birmingham|London',
       'Jaipur|Lucknow', 'Possibly Bandung|', 'Delhi|', 'Mantua| Milan',
       'Klausen|Klausen', 'Venice|Munich', 'Cieszyn|Český Těšin',
       'Valencia| Toledo| Madrid', 'London|Solingen', 'Greenwich|London',
       'Rome|Rome', 'Kandahar|', 'Cocha|', 'Pekalongan|', 'Ila Orangun|',
       'Bougouni|', 'Bondoukou|', 'Jaun|', 'Akpa|', 'Ogbomosho|',
       'Mindimbit|', 'Sauwa|', 'Gadio|', 'Erma|', 'Momogo|', 'Nissan|',
       'Ambisu|', 'Kriambit|', 'Kauwatyi|', 'Ilobu, Erin|', 'Simar|',
       'Owerri, Okobo|', 'Ibadan|', 'Iseyin|', 'Itelinu|', 'Agwa|',
       'Marienberg|', 'Ronkong|', 'Galumpang|', 'London|Edinburgh',
       'London|Washington D.C.', 'London|New York', 'New York|London',
       'Paris|Leipzig', 'Paris|Munich', 'Berlin|New York',
       'Leipzig|Vienna', 'Düsseldorf, 1901|', 'Toronto|London|New York',
       'Paris|New York', 'New York|Grand Rapids', 'Chicago|New York',
       'Paris|Berlin|Liège', 'Vienna|Berlin', 'Toronto|Sydney|London',
       'Boston|New York', 'Edinburgh|London', 'Sarrebourg|Paris',
       'Troy|Springfield', 'Edinburgh|Glasgow|New York',
       'St. Petersburg|Moscow', 'Rome|Florence',
       'Leipzig|Berlin|Stuttgart', 'Paris|Marseilles',
       'London|Paris|New York', 'New York|Chicago',
       'Dresden|London|Leipzig', 'Leipzig|Dresden', 'Paris|Augsburg',
       'London|New York|Glasgow', 'Plaintsville|Hartford', 'Venice|Paris',
       'New York|Paris|London', 'Udine|Paris',
       'Oneida|New York|Rochester', 'Hamburg|London|Paris',
       'London|Philadelphia', 'Amsterdam|Paris', 'Philadelphia|Hartford',
       'New York|New York', 'New York|Boston', 'Boston|Cambridge',
       'Glasgow|London', 'London|Mackbridge',
       'Paris|London|Melbourne|New York', 'London|Paris|Melbourne',
       'London|Belfast', 'New York|London|Paris', 'London|Paris',
       'Paris|Lyon', 'Rome|Venice', 'Detroit|Chicago', 'Lowville|Boston',
       'Paris|The Hague', 'Paris|Amsterdam', 'Boston|London|New York',
       'Walton|London', 'Oxford|Cambridge|London', 'Orleans|Nuremberg',
       'Boston|London', 'Vienna|Leipzig', 'Philadelphia|London',
       'London|Boston', 'Stuttgart|Leipzig', 'Berlin|Vienna',
       'Rouen|Paris',
       'II) Paris: Jte. Bourmancé|I) Paris: Rittner & Goupil 1837',
       'Munich|Esslingen', 'Leipzig|Dessau', 'Ravenna|Bologna',
       'Manchester|London', 'Paris|Nancy', 'Milan|Rome', 'Nancy|Paris',
       'Paris|Strasbourg', 'Ulster|London', 'London|St. Petersburg',
       'Paris|Venice', 'Detroit|Cleveland', 'Belfast|London|New York',
       'Glasgow|London|New York', 'New York|Edinburgh|London',
       'Mannheim|London|Amsterdam|The Hague', 'Florence|',
       'Vicenza|Venice', 'Rome|', 'Mantua|', 'Venice|Padua',
       'Madrid|Alcala', 'Strasbourg|Paris', 'Dublin|London',
       'Paris|Karlsruhe|St. Petersburg', 'London|Leipzig|Dresden',
       'Venice|Rome', 'Moscow|St. Petersburg', 'Yarkand|', 'Mumbai|',
       'Bukhara, Samarqand|', 'Bukhara|', 'Manises, Valencia|Kus',
       'Kashan|Natanz', 'Qazvin|', 'Kashmir|', 'Istanbul|', 'Lucknow|',
       'Erment|', 'Khursan|', 'Isfahan|', 'Amul, Hamadan|', 'Amul|',
       'Izmir|', 'Burhanpur|', 'Basra|Rayy', 'Samarra| Takrit',
       'Basra|near Susa', 'Nishapur|Nishapur', 'Nishapur|Nishapur|',
       'Nishapur|Samarqand', 'Nishapur| Samarqand', 'Jovain|Nishapur',
       'Surat|', 'Madurai|', 'Gulbarga|', 'Bursa|', 'Basra|Samarra',
       'Nishapur|', 'Kirman|', 'Alcaraz|', 'Herat|', 'Bukhara|Herat',
       'Raqqa|', 'Takrit| Baghdad', 'Isfahan|Herat', 'Bawit|',
       'Saqqara|Mitrahina', 'Bijapur|', 'Nishapur|Bukhara',
       'Nishapur|al-Muhammadiyya', 'Nishapur|al-Muḥammadiyya',
       'Nishapur|Bastam', 'Nishapur|Jurjan', 'Nishapur|Madan....',
       'Nishapur|al-Shash', 'Nishapur|Madinat Balkh', 'Nishapur|Amul',
       'Nishapur|Astar Abad', 'Nishapur|al-Muhammadiyyeh',
       'Nishapur|al-Muḥmmadīyya', 'Nishapur|Arrijan',
       'Nishapur|Astar-Abad', 'Nishapur|Arrajan', 'Nishapur|Astar-abd',
       'Nishapur|Qumis', 'Nishapur|Marv', 'Nishapur|Jundi Shapur',
       'Nishapur|Mashhad', 'Nishapur| Nishapur', 'Nishapur|Balkh',
       'Nishapur|Wasit', 'Nishapur|Gunabad', 'Nishapur|Zaranj',
       'Nishapur|Jay', 'Nishapur|Herat', 'Nishapur|al-Kaffan',
       'Nishapur|A-Rayy', 'Nishapur|Balad-i Tus', 'Nishapur|al-Rafiqa',
       'Nishapur|Qazween', 'Nishapur|Arminya', 'Nishapur|Abar shahr',
       'Nishapur|Sinjar', 'Nishapur|al-Muhammadiyeh', 'Seville|',
       'Aragon|Constantinople', 'Paris|', 'Venice|', 'Constantinople|',
       'Bourges|', 'Palermo|', 'Lucca|', 'Antioch|', 'Dinant|',
       'Maastricht|', 'Braine|', 'Nottingham|', 'Gelderland|', 'Cologne|',
       'Trie|', 'Saragossa|', 'Rostock|', 'Markneukirchen|', 'Magdeburg|',
       'Dedougou|', 'Mindanao|', 'Lluchmajor, Mallorca|', 'London|Oxford',
       'Edinburgh|Glasgow', 'Kangra|', 'St. Petersburg|New York',
       'Paris|Paris', 'Ahmedabad|New York', 'University City|Syracuse',
       'Firenze|Pisa', 'Paris|Versailles', 'Trenton|East Liverpool',
       'Los Angeles|', 'Maine|New York'], dtype=object)

In [124]:
#Country
andrew_df["Country"] = andrew_df["Country"].replace(to_replace = '\(\?\)|\?', value = '', regex = True)
andrew_df["Country"] = andrew_df["Country"].replace(to_replace = '\(.*', value = '', regex = True)
andrew_df["Country"] = andrew_df["Country"].replace(to_replace = 'maybe|probably|possibly', value = '', regex = True)
andrew_df["Country"] = andrew_df["Country"].replace(to_replace = '\sor\s.*', value = '|', regex = True)
andrew_df["Country"] = andrew_df["Country"].replace(to_replace = '\sor.*', value = '|', regex = True)
andrew_df["Country"] = andrew_df["Country"].str.strip()
andrew_df[~andrew_df["Country"].str.contains("\sor", regex=True)]["Country"].unique()

array(['nan', 'Mexico', 'Guatemala', 'United States', 'England', 'Spain',
       'United States|England', 'Netherlands',
       'United States|United States', 'France', 'Canada',
       'United States|France', 'England|France', 'China', 'Italy',
       'Japan', 'Germany', 'Netherlands|Netherlands', 'Czech Republic',
       'England|Ireland', 'Ireland|United States', 'Venezuela',
       'England|Netherlands', 'England|Belgium', 'France|Italy',
       'Bermuda', 'Ireland', 'India', 'England|United States',
       'United States|United States|United States',
       'France|NEW ZEALAND ROTORUA WHAKAREWAREWA',
       'China|NEW ZEALAND ROTORUA WHAKAREWAREWA', 'Germany|Italy',
       'Lisez et propagez nos Annales: "L\'Immacul‚e"',
       'France|Bernard Turner', 'France|Harold Copping',
       'Czech Republic|England', 'Belgium|France',
       'Belgium|England|France', 'United States|Germany',
       'France|Germany', 'Scotland', 'Germany|Czech Republic', 'Holland',
       'England|England', 'United States|Denmark',
       'Finland|Denmark|United States', 'United States|China',
       'China|India', 'United States|Wales', 'Italy|United States',
       'United States|England|Scotland|Wales', 'Switzerland', 'Portugal',
       'Scotland|', 'England|Scotland', 'Paraguay',
       'United States|United States|United States|United States',
       'France|Switzerland', 'United States|France|Tibet', 'Iran',
       'Russia', 'Turkey', 'United States|British Isles',
       'Germany|Netherlands', 'United States|India', 'France|England',
       'United States|Italy', 'Peru', 'Colombia', 'Syria',
       'Democratic Republic of the Congo', 'Cameroon', 'Armenia',
       'from the Balkans', 'Algeria', 'Algeria|', 'Palestine', 'Morocco',
       'Uzbekistan', 'South Africa', 'Kuwait', 'Samoa', 'Tonga', 'Tonga|',
       'present-day Uzbekistan', 'Burkina Faso', 'Afghanistan', 'Nigeria',
       'present-day Afghanistan', 'Pakistan', 'Balkans|', 'Turkmenistan',
       'Ghana', "Côte d'Ivoire", 'Kenya', 'Ethiopia', 'Tanzania',
       'Tanzania|', 'Madagascar', 'Liberia', 'Morocco|', 'Tunesia',
       'Tunisia', 'TunIsia', 'Egypt', 'Indonesia', 'Java', 'Borneo',
       'Philippines', 'Syria|', 'Saudi Arabia', 'Palestine|', 'Iraq',
       'Georgia', 'Panama', 'Saudi Arabia|', 'Turkey|', 'Egypt|',
       'Bolivia', 'iran', 'Uganda', 'Brazil|Portugal', 'China|Mexico',
       'Spain|Mexico', 'Italy|France', 'Flanders|Mexico',
       'Spain|Germany|Mexico', 'Mexico|China', 'Ecuador|Peru',
       'Guatemala|Mexico', 'Ecuador|Philippines', 'Ecuador|Ecuador',
       'Peru|Ecuador', 'Ecuador', 'Mexico|Ecuador', 'Mexico|Guatemala',
       'Cuba', 'Brazil', 'Ecuador|Mexico', 'Papua New Guinea',
       'Costa Rica|', 'Chile', 'Peru|', 'Costa Rica|Costa Rica',
       'Costa Rica', 'Argentina', 'Ecuador, Peru, Bolivia, Argentina,|',
       'Australia', 'Mali|', 'Mali', 'Solomon Islands', 'Honduras',
       'South Sudan', 'Ecuador, Peru, Bolivia, Chile,|', 'Colombia|',
       'Vanuatu', 'Angola|', 'Togo', "Côte d'Ivoire|", 'Sudan',
       'Guatemala|', 'Fiji', 'Gabon', 'Angola', 'Sierra Leone',
       'Republic of Palau', 'Bolivia|', 'Suriname', 'Gabon|', 'Guinea',
       'Rwanda', 'Zambia', 'Republic of Congo', 'Burkina Faso|',
       'Republic of Benin', 'Central African Republic', 'Guinea|',
       'Republic of the Congo',
       'Democratic Republic of the Congo, Republic of the Congo,|',
       'Republic of Guinea-Bissau',
       'Democratic Republic of the Congo|Cabinda, Angola|Republic of the Congo',
       'Cameroon|', 'Kenya|', 'French Polynesia', 'New Zealand',
       'Australia|', 'New Caledonia', 'Republic of the Marshall Islands',
       'Marquesas Islands', 'Tahiti', 'Austria', 'Togo|', 'Chad',
       'Somalia', 'Unknown country', 'Dominican Republic', 'Ecuador|',
       'French Guiana', 'Puerto Rico', 'United States|', 'Mexico|',
       'Cook Islands', 'Federated States of Micronesia', 'Mangareva',
       'Wallis and Futuna Territory', 'Liberia|', 'Nauru', 'Malawi',
       'Republic of Benin|', 'El Salvador|', 'Republic of Kiribati',
       'Zimbabwe', 'Coastal Ecuador',
       'Democratic Republic of Timor-Leste', 'Taiwan', 'Malaysia',
       'Vietnam', 'Chile|', 'Nigeria|', 'Niger', 'South Africa|',
       'El Salvador', 'Laos',
       'Democratic Republic of the Congo|Republic of the Congo|Angola',
       'Democratic Republic of the Congo|Angola|Republic of the Congo',
       'Democratic Republic of the Congo|', "Cote d'Ivoire", 'Namibia',
       'Papua New Guinea, Prince Alexander Mountains', 'Indonesia|',
       'Nicaragua', 'Republic of Timor-Leste', 'Sierra Leone|',
       'Zimbabwe|', 'Canada|', 'Greenland',
       'Papua New Guinea|Papua New Guinea', 'Papua New Guinea|',
       'Rwanda|', 'Republic of the Congo|', 'Senegal',
       'Democratic Republic of Congo', 'Guinea Bissau', 'Zanzibar',
       'Northern Tanzania and Kenya', 'New Guinea', 'Egypt and Sudan',
       'Iraq|', 'Iran|', 'Unknown', 'present-day Greece', 'Greece',
       'Bulgaria', 'Bosnia', 'Hungary', 'Northern Iraq|',
       'present-day Pakistan', 'Syria|Egypt', 'Yemen', 'Albania',
       'Western Iran, Northern Iraq,|', 'China|', 'India|',
       'Northern Iraq, Syria,|', 'Southern India',
       'present-day Saudi Arabia', 'Cyprus|', 'Sri Lanka',
       'Northern India', 'Present-day Pakistan', 'Afghanistan|',
       'Central India|', 'Spain|Egypt', 'Spain|', 'Azerbaijan',
       'present-day Israel', 'Northwestern Iran', 'Poland', 'Iran|Iran',
       'Bulgaria|', 'Eastern India', 'present-day Bangladesh',
       'Northern India|', 'Northern Iran', 'Central India', 'Central|',
       'present-day Turkey', 'Southern Italy', 'Central Iran',
       'India, Nepal|', 'Egypt, Iran|', 'present-day Azerbaijan',
       'Western Turkey', 'Western Iran', 'present-day China',
       'Turkmenistan|', 'Uzbekistan|', 'present-day Afghanistan|',
       'Western Turkmenistan', 'west-central Turkey',
       'Northwestern Iran|', 'West Turkey',
       'Probably West Central Turkey', 'China|Iraq', 'Syria|Iran',
       'France|', 'Western India', 'Eastern Iran|', 'Greece|',
       'Possibly Syria', 'India|Egypt', 'Iraq|Iran', 'Iraq|Iraq',
       'Eastern Iran', 'Italy|', 'Iran|Iran|', 'Iran|Iraq', 'Iran|China',
       'Iran|Iraq|', 'Iran|present-day Uzbekistan', 'Iran| Iran',
       'present-day Lebanon', 'Iran|Syria|', 'Northeastern Iran',
       'Armenia|', 'Iran, Iraq,|', 'Eastern Turkmenistan|',
       'modern-day Afghanistan', 'Northwestern India',
       'Northwestern Iran,', 'Present-day Uzbekistan', 'Jazira', 'Jordan',
       'Germany|Iran', 'The Netherlands', 'Eastern Islamic lands',
       'Western Islamic Lands', 'Central Asia', 'the Netherlands',
       'Egypt, Iraq|', 'Iran|Egypt', 'Northwest Turkey', 'Central Turkey',
       'Sothern Turkmenistan',
       'present-day Uzbekistan|present-day Afghanistan',
       'present-day Uzbekistan and Afghanistan', 'Probably Egypt',
       'Probably Iran', 'Indiaal', 'Tunesia|', 'Northern|',
       'India|present-day Afghanistan|', 'Iran, Syria|', 'Central Asia|',
       'Present-day Turkmenistan', 'Western Iran|', 'Probably Iraq',
       'Egypt|Iraq|', 'india', 'China|Iran', 'Eastern islamic lands',
       'Iran|present-day Afghanistan', 'Egypt|Egypt',
       'Modern cast of 39.40.39a', 'USA', 'U.S.A.', 'Bohemia',
       'Northern Italy', 'Byzantine Egypt', 'Europe', 'Nicomedia',
       'Central Italy', 'Flanders', 'Tirana', 'southern Italy', 'Norway',
       'Northern Adriatic', 'North France', 'North France|',
       'North Africa', 'northern France', 'Netherlands|', 'Germany|',
       'Eastern Mediterranean', 'south central France', 'South France',
       'Sweden', 'French', 'Northern France', 'northern France|',
       'Russian|Northern France', 'La Tène II', 'northern Italy',
       'Western France', 'Gaul', 'Alamania|Northern France', 'Alamania',
       'Alamania|France', 'Northern France|Alamania', 'Niederbreisig',
       'Western Germany', 'Rhein', 'Alamania|Northern France|Germany',
       'Northern France|Germany', 'Germany|Northern France',
       'southern Germany|', 'South Netherlands', 'Italian', 'Scandinavia',
       'Gotland', 'Central Europe', 'present-day France',
       'the Iberian peninsula', 'Iberian Peninsula', 'central Europe',
       'northern Europe', 'Southern France', 'nothern Spain|',
       'Southwestern France', 'Belgium', 'present-day Spain',
       'perhaps Syria', 'German', 'Southern Netherlands',
       'French|Belgium', 'Byzantium|', 'Brussels', 'north|',
       'southern England', 'Rome', 'Northern Switzerland', 'European',
       'Austrian', 'Lake Van region, Vaspurakan', 'Northeastern France',
       'Northeast Italy', 'Spain and Italy', 'Ukraine', 'Black Sea',
       'italy', 'North Netherlands', 'North Netherland', 'Lower Austria',
       'Constantinople', 'South Italy', 'British Isles',
       'South Netherland', 'Northern Europe', 'England|',
       'South Netherlandish', 'France|France', 'Haute Garonne.',
       'Carpathian Basin region', 'east-central Europe', 'Probably Gaul',
       'Southern Russia|', 'present-day Poland', 'Crete', 'America', 'UK',
       'US', 'South Africa, Africa', 'Italy and United States',
       'United Kingdom', 'Japan|China', 'Tibet', 'Korea', 'India|Nepal',
       'Myanmar', 'Thailand', 'Thailand and Myanmar', 'Croatia', 'Ghana|',
       'Borneo|', 'Venezuela:N.A.', 'Russia Federation',
       'Russian Federation',
       'Georgia, Republic of  [Azerbaijan, Armenia]',
       'Azerbaijan, Armenia|', 'Arabia|Iran', 'Montenegro  Yugoslavia',
       'Arabia', 'Arabian Peninsula', 'Syria  Saudia Arabia',
       'Egypt, Bulgaria|', 'Bulgaria|Egypt', 'former Yugoslavia',
       'Dem. Rep. of Congo', 'Congo', 'Mozambique', 'Senegal|', 'Benin|',
       'Benin', 'Republic of Cameroon', 'Canada: N.A.', 'Guyana',
       'Guatemala|Guyana', 'Colombia|Ecuador', 'Marshall Islands',
       'Possibly Sarawak', 'Sarawak', 'Romania', 'United Kingdom|',
       'Slovakia', 'Germany, France,|', 'Austria|', 'Finland',
       'Friesland', 'Probably Sierra Leone', 'Arabia|', 'Uganda|',
       'Republic of Cameroon|', 'Norfolk Island', 'Sulawesi', 'Belgium|',
       'Uganda/Tanzania', 'Mozambique|Zimbabwe|Malawi', 'Peru|Peru',
       "Liberia-Côte d'Ivoire", 'Bosnia and Herzegovina', 'Japan|',
       'Gambia', 'Montenegro', 'Uganda/Rwanda', 'Malta',
       'Republic of Costa Rica', 'Nepal', 'France:N.', 'Ivory Coast',
       'Sumatra', 'Probably Burkina Faso', 'Lesotho', 'Tajikistan',
       'Czechoslovakia|', 'Nigeria, Ghana|', 'Serbia', 'Ireland|',
       'Mongolia', 'France/USA', 'France|United States', 'Flemish',
       'Republic of Guinea', 'Malawi|', 'Greece|Turkey',
       'Probably Democratic Republic of Congo', 'Tibet|China|India',
       'Cambodia', 'Hungary|', 'Austria / Germany', 'Mauritania',
       'Republic of  Cameroon', 'Kosova', 'Tibet/north India',
       'Probably Democratic Republic of the Congo', 'Bhutan', 'Denmark',
       'Zambia|', 'United States|Austria', 'Uganda-Sudan', 'Burma',
       'Tanzania/Kenya', 'Macedonia', 'Slovenia',
       'Republic of Congo & Angola', 'Philippine Islands',
       'Republic of the Philippines', 'Norway|', 'England|Germany',
       'Tibet|China', 'Herzegovina', 'Bosnia - Herzegovina',
       'Possibly Greece', 'Scandinavia|', 'Dem. Rep. Congo',
       'India|Pakistan', 'Bohemia|Germany|Italy', 'Laos and Thailand',
       'Persia|', 'Probably Germany', 'Tibet/Nepal', 'Switzerland|France',
       'Republic of Madagascar', 'Mali|Possibly Algeria/Tunesia',
       'Ethiopia|', 'Pakistan|India', 'Czech Republic|',
       'Italy|United Kingdom', 'Turkey|India', 'Canaan', 'Cyprus',
       'Egypt|Gaul', 'Nubia', 'Surinam', 'Russia|United States',
       'India|United States', 'Southwestern Iran', 'Caucasus',
       'Southern Turkey', 'Northern Iraq', 'present-day Belgium',
       'Belize, Honduras, Guatemala,|', 'Central Mexico',
       'United States|United States|Canada', 'Canada|Canada',
       'Bolivia, Peru,|', 'Italy|Italy',
       'Canada|United States|United States', 'Canada|United States',
       'Argentina, Peru,|', 'New Spain', 'Iran and Turkey',
       'Western Australia', 'Southwest Iran', 'present-day Kirghiztan',
       'Northwest Iran', 'Uruguay', 'North India|', 'Israel',
       'Martinique', 'Iraq|China', 'United States of America'],
      dtype=object)

In [125]:
andrew_artist_df = andrew_artist_df.replace(r'^\s*$', np.nan, regex=True)
andrew_artist_df.head(5)

,Artist Prefix,Artist Suffix,Artist Begin Date,Artist ULAN URL
0,NaN,NaN,1794,http://vocab.getty.edu/page/ulan/500011409
1,NaN,NaN,1785,http://vocab.getty.edu/page/ulan/500077295
2,nan,nan,nan,nan
3,nan,nan,nan,nan
4,nan,nan,nan,nan

In [126]:
#Artist Prefix
andrew_artist_df["Artist Prefix"] = andrew_artist_df["Artist Prefix"].str.strip()
andrew_artist_df.groupby('Artist Prefix').nunique()

,Artist Suffix,Artist Begin Date,Artist ULAN URL
Artist Prefix,,,
"""A Letter..."" written by",0,1,0
"""Autumn"" dedicated to",0,1,0
"""Britannia"" published by",0,1,0
"""Chapman"" written by",0,1,1
"""Christopher Tadpole"" written by",0,1,0
...,...,...,...
with frieze carved by,0,1,1
with illustrations by,0,1,1
working together as the firm,0,0,0
workshop of,0,1,1
woven under the direction of,0,1,1

In [127]:
#Artist Suffix
andrew_artist_df["Artist suffix"] = andrew_artist_df["Artist Prefix"].str.strip()
andrew_artist_df.groupby('Artist Suffix').nunique()

,Artist Prefix,Artist Begin Date,Artist ULAN URL,Artist suffix
Artist Suffix,,,,
"""",1,0,0,1
& Beccles,0,1,0,0
"& Bungay, Suffolk",0,1,0,0
& Co.,0,1,0,0
"& Co., London, Paris & New York",0,1,0,0
...,...,...,...,...
with spurious signature of Shitao,1,1,1,1
working in Tuscany,1,0,1,1
working in the workshop of Sahib Ram,1,0,1,1
workshop,3,0,1,3
"à Waesberge, Amsterdam",1,1,0,1

In [128]:
#Artist Begin Date
andrew_artist_df["Artist Begin Date"] = andrew_artist_df["Artist Begin Date"].str.extract(r'(-*\d{4})')
andrew_artist_df.groupby('Artist Begin Date').nunique()
#andrew_df[~andrew_df["Artist Begin Date"].str.contains("\sor", regex=True)]["Artist Begin Date"].unique()

,Artist Prefix,Artist Suffix,Artist ULAN URL,Artist suffix
Artist Begin Date,,,,
-0042,0,0,1,0
-0043,3,0,1,3
-0054,1,0,0,1
-0059,1,0,0,1
-0063,0,0,0,0
...,...,...,...,...
2013,0,0,1,0
2014,0,0,0,0
2015,0,0,0,0
2016,0,0,1,0
2021,0,0,1,0

In [129]:
city_col_list = [12] # making list of column index from Q->AB
city_col_list.insert(0, 0) # Adding the first column as index
city_df = andrew_df.iloc[: , city_col_list] #subsets originas dataframe 'df'
city_df = split_rows(city_df)

Object Number 478791
City 478791

In [130]:
city_df.groupby('City').nunique()

                     Object Number
City
                               199
 Baghdad                         1
 Madrid                          1
 Milan                           1
 Nishapur                        1
...                            ...
vicinity of Salerno              1
vicinity of Ulm                  1
vicinity of Verona               1
Český Těšin                      1
Ōsaka                            1

[2015 rows x 1 columns]

In [133]:
country_col_list = [13] # making list of column index from Q->AB
country_col_list.insert(0, 0) # Adding the first column as index
country_df = andrew_df.iloc[: , country_col_list]
country_df = split_rows(country_df)
country_df.head()

Object Number 479926
Country 479926

  Object Number Country
0    1979.486.1     nan
1    1980.264.5     nan
2      67.265.9     nan
3     67.265.10     nan
4     67.265.11     nan

In [135]:
country_df.groupby('Country').nunique()

                       Object Number
Country
                                1016
 Iran                              1
Afghanistan                       64
Alamania                           9
Albania                            3
...                              ...
southern Germany                   1
southern Italy                     2
the Iberian peninsula              1
the Netherlands                    3
west-central Turkey                1

[420 rows x 1 columns]