In [6]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import os
from cleaning_utils import *
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
cwd = os.getcwd()
df = pd.read_csv(os.path.join(cwd, "MetObjects.txt"))

mike_col_list = [i for i in range(0, df.shape[1], 3)]
mike_df = df.iloc[:, mike_col_list]
mike_df = mike_df.astype(str, errors="ignore")

artist_col_list = list(range(16, 28)) # making list of column index from Q->AB
artist_col_list.insert(0, 0) # Adding the first column as index
artist_df = df.iloc[: , artist_col_list] #subsets originas dataframe 'df'
artist_df = split_rows(artist_df)

mike_artist_cols = [i for i in range(3, artist_df.shape[1], 3)]
mike_artist_df = artist_df.iloc[:, mike_artist_cols]

C:\Users\mschm\AppData\Local\Temp\ipykernel_23672\2169386161.py:2: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(cwd, "MetObjects.txt"))

In [23]:
# object_col_list = list(range(28, 54))
# object_col_list.insert(0, 0) 
# split_rows(df.iloc[:,object_col_list])

In [24]:
mike_df.head(2)

,Object Number,Is Public Domain,Department,Title,Dynasty,Constituent ID,Artist Display Name,Artist Alpha Sort,Artist End Date,Artist Wikidata URL,Object End Date,Credit Line,State,Region,Locus,Classification,Object Wikidata URL,Tags
0,1979.486.1,False,The American Wing,One-dollar Liberty Head Coin,nan,16429,James Barton Longacre,"Longacre, James Barton",1869,https://www.wikidata.org/wiki/Q3806459,1853,"Gift of Heinz L. Stoppelmann, 1979",nan,nan,nan,nan,nan,nan
1,1980.264.5,False,The American Wing,Ten-dollar Liberty Head Coin,nan,107,Christian Gobrecht,"Gobrecht, Christian",1844,https://www.wikidata.org/wiki/Q5109648,1901,"Gift of Heinz L. Stoppelmann, 1980",nan,nan,nan,nan,nan,nan

In [40]:
mike_df.groupby("Tags").nunique()

,Object Number,Is Public Domain,Department,Title,Dynasty,Constituent ID,Artist Display Name,Artist Alpha Sort,Artist End Date,Artist Wikidata URL,Object End Date,Credit Line,State,Region,Locus,Classification,Object Wikidata URL
Tags,,,,,,,,,,,,,,,,,
Abbeys,16,2,3,14,1,5,5,5,5,5,5,6,1,1,1,3,2
Abbeys|Architecture,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Abbeys|Architecture|Houses,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Abbeys|Architecture|Towers,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Abbeys|Cloisters,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zodiac,18,2,7,16,1,5,5,5,5,5,12,12,1,2,1,8,3
Zodiac|Ceilings,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Zodiac|Lions,2,1,1,2,1,1,1,1,1,1,2,1,1,1,1,1,1
Zodiac|Male Nudes|Pegasus,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
nan,276642,2,19,125057,309,33029,43070,43046,21075,24847,1591,21849,76,536,1103,1026,3665

In [29]:
mike_df["Artist Wikidata URL"]
mike_df[~mike_df["Artist Wikidata URL"].str.contains("https://www.wikidata.org/wiki", regex=True)]["Artist Wikidata URL"].unique()

array(['nan', '|', '||', '||||||||||||||||||||||||', '||||', '|||',
       '|||||', '||||||', '|||||||', '|||||||||', '||||||||||',
       '||||||||||||||||||||||', '||||||||||||', '||||||||'], dtype=object)

In [28]:

mike_df[~mike_df["Object End Date"].str.match("-?\d\d?\d?\d?|-?\d\d\d\d\|-?\d\d\d\d").map(lambda x : False if (type(x)==float) else x)]["Object End Date"].unique()

array([], dtype=object)

In [ ]:
mike_artist_df["Artist End Date_clean"] = mike_artist_df["Artist End Date"].str.extract("(-?\d\d\d\d)")
mike_artist_df[~mike_artist_df["Artist End Date_clean"].str.contains("-?\d\d\d\d", regex=True).map(lambda x : False if (type(x)==float) else x)]["Artist End Date_clean"].unique()

In [ ]:
mike_df["Dynasty_clean"] = mike_df["Dynasty"].str.extract("(\d\d)")
mike_df[~mike_df["Dynasty_clean"].str.contains("\d\d", regex=True).map(lambda x : False if (type(x)==float) else x)]["Dynasty_clean"].unique()

In [ ]:
mike_df["Artist End Date_clean"] = mike_df["Artist End Date"].str.extract("(\d\d\d\d)")
mike_df[~mike_df["Artist End Date_clean"].str.contains("\d\d\d\d", regex=True).map(lambda x : False if (type(x)==float) else x)]["Artist End Date_clean"].unique()

In [ ]:
#made it up to credit line. Start with credit line and move right through columns

In [ ]:
mike_df.head(2)

In [42]:
mike_df["Artist End Date_clean"] = mike_df["Artist End Date"].str.extract("(-?\d\d\d\d\|?){1,10}")
mike_df[~mike_df["Artist End Date_clean"].str.contains("(-?\d\d\d\d\|?){1,10}", regex=True).map(lambda x : False if (type(x)==float) else x)]["Artist End Date_clean"].unique()

C:\Users\mschm\AppData\Local\Temp\ipykernel_23672\221823694.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mike_df[~mike_df["Artist End Date_clean"].str.contains("(-?\d\d\d\d\|?){1,10}", regex=True).map(lambda x : False if (type(x)==float) else x)]["Artist End Date_clean"].unique()

array([nan], dtype=object)

In [43]:
df.columns

Index(['Object Number', 'Is Highlight', 'Is Timeline Work', 'Is Public Domain',
       'Object ID', 'Gallery Number', 'Department', 'AccessionYear',
       'Object Name', 'Title', 'Culture', 'Period', 'Dynasty', 'Reign',
       'Portfolio', 'Constituent ID', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Artist Gender', 'Artist ULAN URL',
       'Artist Wikidata URL', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Object Wikidata URL',
       'Metadata Date', 'Repository', 'Tags', 'Tags AAT URL',
       'Tags Wikidata URL'],
      dtype='object')